.container {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.detailsContainer {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.propertyDetails {
  width: 60%;
  margin-right: 2rem;
}

.contactForm {
  width: 35%;
  border-left: 1px solid #e0e0e0;
  padding-left: 2rem;
}

.propertyDetails h1 {
  font-size: 24px;
  margin-bottom: 1rem;
}

.propertyDetails .price {
  font-size: 32px;
  color: #b93d20;
  margin-bottom: 2rem;
}

.propertyDetails p {
  margin-bottom: 2rem;
}

.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.details div {
  display: flex;
  align-items: center;
}

.details span {
  font-size: 20px;
  margin-left: 1rem;
}

.contactForm h2 {
  font-size: 20px;
  margin-bottom: 1rem;
}

.contactForm label {
  display: block;
  margin-bottom: 0.5rem;
}

.contactForm input,
.contactForm textarea,
.contactForm button {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
}

.contactForm button {
  background-color: #b93d20;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.contactForm button:hover {
  background-color: #a02c16;
}

.message {
  margin-top: 1rem;
  color: red;
}

.disabledButton {
  background-color: gray;
  color: white;
  cursor: not-allowed;
}

.favoriteButton {
  background-color: transparent;
  border: none;
  margin-left: 1rem;
  color: red;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  vertical-align: middle;
}

.favoriteButton:hover {
  opacity: 0.7;
}
